/**
Slider wrapper
*/
.slider {
    width:800px; height: 400px; margin: 40px auto;
}

/**
Slider content
*/
.slider .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font: 160px/400px Tahoma, sans-serif;
    color: #777;
    text-align: center;
}
.slider .slide-content-1 {
    background: #fcc;
}
.slider .slide-content-2 {
    background: #ffc;
}
.slider .slide-content-3 {
    background: #ccf;
}
.slider .slide-content-4 {
    background: #cff;
}
.slider .slide-content-5 {
    background: #cfc;
}