/**
Sliders wrappers
*/
.slider-1 {
    width:600px; height: 200px; margin: 40px auto;
}
.slider-2 {
    width:400px; height: 400px; margin: 40px auto;
}

/**
Slider-2 content
*/
.slider-2 .slide-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font: 160px/400px Tahoma, sans-serif;
    color: #777;
    text-align: center;
}
.slider-2 .slide-content-1 {
    background: #fcc;
}
.slider-2 .slide-content-2 {
    background: #ffc;
}
.slider-2 .slide-content-3 {
    background: #ccf;
}
.slider-2 .slide-content-4 {
    background: #cff;
}
.slider-2 .slide-content-5 {
    background: #cfc;
}